<!DOCTYPE html>
<html ng-app="takeOne">
  <head>
    <title>HAS THIS CHANGED YET M8?</title>

<!-- favicon tings -->

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

<!-- Links and Scripts and ting -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/style.css">


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script type="text/javascript" src = 'js/app.js'></script>
    <script src="js/factories/auth.fact.js"></script>
    <script src="js/factories/user.fact.js"></script>
    <script src="js/factories/movie.fact.js"></script>
    <script src="js/filters/filters.js"></script>
    <script src="js/controllers/auth.ctrl.js"></script>
    <script src="js/controllers/movie.ctrl.js"></script>
    <script src="js/controllers/animation.ctrl.js"></script>


  </head>

  <body ng-controller="authenticationController as auth" >

    <!-- THE APP -->

    <header>
      <nav>
        <a class="navHome" href="#" ui-sref="home">
          <span class="fa fa-home" aria-hidden="true"></span>
          <br>
          <span>Home</span>
        </a>
        <div ng-if="auth.user">
          <a class="navLink" href="#" ng-click="auth.signOut()">
            <span class="fa fa-sign-out" aria-hidden="true"></span>
            <br>
            <span>Sign Out</span>
          </a>
          <a class="navLink" href="#" ng-click="">
            <span class="fa fa-list-ul" aria-hidden="true"></span>
            <br>
            <span>Watch List</span>
          </a>
        </div>
        <div ng-if="!auth.user">
          <a class="navLink" href="#" ui-sref="signup">
            <span class="fa fa-user-plus" aria-hidden="true"></span>
            <br>
            <span>Sign Up</span>
          </a>
          <a class="navLink" href="#" ui-sref="login">
            <span class="fa fa-sign-in" aria-hidden="true"></span>
            <br>
            <span>Log In</span>
          </a>
        </div>
      </nav>    
    </header>
    <main 
      id="appStates"
      class="container"
      ng-controller="movieController as movieCTRL">
      <div ui-view></div>
    </main>
  </body>
</html>

