<!DOCTYPE html>
<html ng-app="whatToWatch">
  <head>
    <title>TakeOne</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/style.css">


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script type="text/javascript" src = 'js/app.js'></script>
    <script src="js/factories/auth.fact.js"></script>
    <script src="js/factories/user.fact.js"></script>
    <script src="js/controllers/auth.ctrl.js"></script>

  </head>

  <body ng-controller="authenticationController as auth" >

    <!-- Your angular app -->

    <header>
      <nav>
        <a class="navLink" href="#" ui-sref="home">
          <span class="fa fa-home" aria-hidden="true"></span>
          <br>
          <span>Home</span>
        </a>
        <div ng-if="auth.user">
<!--           <strong>WELCOME {{ auth.user.email }} </strong>
          <br> -->
          <a class="navLink" href="#" ng-click="auth.signOut()">
            <span class="fa fa-home" aria-hidden="true"></span>
            <br>
            <span>Sign Out</span>
          </a>
        </div>
        <div ng-if="!auth.user">
<!--           <strong>Welcome New Person!</strong>
          <br> -->
          <a class="navLink" href="#" ui-sref="signup">
            <span class="fa fa-user-plus" aria-hidden="true"></span>
            <br>
            <span>Sign Up</span>
          </a>
          <a class="navLink" href="#" ui-sref="login">
            <span class="fa fa-sign-in" aria-hidden="true"></span>
            <br>
            <span>Log In</span>
          </a>
        </div>
      </nav>    
    </header>
    <main class="container">
      <div ui-view></div>
    </main>
  </body>
</html>

