body, section, div {
	/*border: 1px solid black;*/
	box-sizing: border-box;
	color:#214663;
	font-family: "Helvetica neue";
}

a {
	font-family: "Komoda"; Trebuchet MS;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 2px;
    color: #214663 !important;
    text-decoration: none !important;

    -moz-box-shadow: 0px 0px 14px -7px #1c415e;
	-webkit-box-shadow: 0px 0px 14px -7px #1c415e;
	box-shadow: 0px 0px 14px -7px #1c415e;
}

a:visited {
    color: #214663 !important;
}

a:active {
    color: #5f7e99 !important;
}

a:hover {
	text-decoration: none !important;
	-moz-box-shadow: 0px 15px 14px -7px #1c415e;
	-webkit-box-shadow: 0px 15px 14px -7px #1c415e;
	box-shadow: 0px 15px 14px -7px #1c415e;
}

header {
	width: 100%;
	height: 20%;
	display: inline-block;
}
main {
	height: 60%;
	width: 100%;
}
.navHome {
	margin: 1.5%;
	display: inline-block;
	float: left;
	width: 10%;
	height: 100%;
	text-align: center;
}

.navLink {
	margin: 1.5%;
	display: inline-block;
	float: right;
	width: 10%;
	height: 100%;
	text-align: center;

/*	border: 1px solid #1c415e;*/
}

.glyphicon, .fa {
	font-size: 30px;
}

.centeredText {
	margin: auto;
	font-size: 2em;
	text-align: center;
}

.gStartedButton {
/*	background-color:#fdfffc;*/
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:4px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#214663;
	font-family: "Komoda"; Trebuchet MS;
	font-size:50px;
	letter-spacing: 2px;
	font-weight:bold;
	padding:24px 50px;
	text-decoration:underline;
	text-shadow:0px 2px 2px #adb8b6;
}
.gStartedButton:hover {
	border-radius: 4px;
	-moz-box-shadow: 0px 15px 14px -7px #1c415e;
	-webkit-box-shadow: 0px 15px 14px -7px #1c415e;
	box-shadow: 0px 15px 14px -7px #1c415e;
}
/*.gStartedButton:active {
	position:relative;
	top:1px;
}*/