body, section, div {
	box-sizing: border-box;
	color:#214663;
	font-family: "Helvetica neue";
	font-size: 16px;
}

div#selectedFavouriteMovie {
	z-index: 2 !important;
	width: 100% !important;
	margin: 0 auto !important;
	margin-bottom: 50px;
}

a {
	font-family: "Komoda"; Trebuchet MS;
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 2px;
    color: #214663 !important;
    text-decoration: none !important;

    -moz-box-shadow: 0px 0px 14px -7px #1c415e;
	-webkit-box-shadow: 0px 0px 14px -7px #1c415e;
	box-shadow: 0px 0px 18px -7px #1c415e;
}

a:visited {
    color: #214663 !important;
}

a:active {
    color: #5f7e99 !important;
}

a:hover {
	text-decoration: none !important;

	-moz-box-shadow: 0px 0px 24px -2px #1c415e;
	-webkit-box-shadow: 0px 0px 24px -2px #1c415e;
	box-shadow: 0px 0px 24px -2px #1c415e;
	cursor: pointer;
}

header {
	width: 100%;
	height: 10%;
	display: inline-block;
	border-bottom: 3px solid #dee;
	/*border-bottom: 3px solid #214663;*/
}
/*main {
	height: 80% !important;
	width: 90% !important;
}*/
.navHome {
	font-size: 3rem;
	margin: 1.5%;
	display: inline-block;
	float: left;
	text-align: center;
	padding:  0 10%;
}

span.navLink {
	word-spacing: 0;
}
.navLink {
	padding: 5px;
	font-size: 3rem;
	margin: 1.5%;
	display: inline-block;
	float: right;
	text-align: center;

/*	border: 1px solid #1c415e;*/
}

.glyphicon, .fa {
	font-size: 30px;
}

.centeredText {
	margin: 0 auto;
	/*display: inline-block;*/
	padding: 25px 0px 25px 0px;
	font-size: 2rem;
	text-align: center;
}

.gStartedButton {
	font-family: "Komoda"; Trebuchet MS;
	font-size:50px;
	letter-spacing: 2px;
	font-weight:bold;
	text-decoration:underline;
	text-shadow:0px 2px 2px #adb8b6;
	text-align: center;

	padding:24px 50px;
	margin-top: 100px;
	margin-bottom: 100px;

	border-radius:4px;
    -moz-box-shadow: 0px 0px 14px -7px #1c415e;
	-webkit-box-shadow: 0px 0px 14px -7px #1c415e;
	box-shadow: 0px 0px 18px -7px #1c415e;
}
.gStartedButton:hover {
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 24px -2px #1c415e;
	-webkit-box-shadow: 0px 0px 24px -2px #1c415e;
	box-shadow: 0px 0px 24px -2px #1c415e;
	cursor: pointer;
}
/*.gStartedButton:active {
	position:relative;
	top:1px;
}*/
form {
	text-decoration: none !important;
    -moz-box-shadow: 0px 0px 14px -7px #1c415e;
	-webkit-box-shadow: 0px 0px 14px -7px #1c415e;
	box-shadow: 0px 0px 18px -7px #1c415e;
	padding: 25px;
}
form div {
	padding: 0px 25px 0px 25px;
}
button {
	margin: auto; 
}
p.card-title {
	height: 30px;
}
.card-img-top {
	width: 201px;
	height: 298px;
}

.similarMoviePoster {
	width: 133px;
	height: 200px;
}
img {
    margin: 0 auto;
    padding: 5px;
    display: block !important;
}
.backdropImageTop {
    width: 100%;
/*    opacity: 0.4;*/
/*    z-index: -1;*/
/*    position: absolute;*/
}


.greyBox {
    position: absolute;
    background: #1c415e;;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: 3;
}
.modalBackgroundImage {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.75;
    left: 0;
    top: 0;
    z-index: 3;

}
.modal {
    display: block !important;
    top: 10%;
    width: 60%;
    margin: 0 auto;
    z-index: 4;
}
.modal-title {
	margin: 0;
    text-align: center;
    font-size: 150%;
    line-height: 1.42857143;
}
iframe {
    width: 100%;
    height: 60%;
}
}
.notSatisfiedRow {
	border-top: 1px solid #dee;
	width: 100%;
	display: inline-block;
	margin: 25px 0px;

}
span.notSatisfied {
	display: inline-block;
	word-spacing: 2.5px;
	padding: 30px 15px;
	font-size: 18px;
}
a.blueBtn {
	font-size: 36px;
    font-weight: bold;
    padding: 5px 25px;
    background-color: #dee;
    margin: 25px 12.5%;
}

a.notSatisfied {

}
div.card {
    margin-top: 2%;
    padding-top: 1.5%;
}
div.card:hover {
	cursor: pointer;
	-moz-box-shadow: 0px 0px 24px -2px #1c415e;
	-webkit-box-shadow: 0px 0px 24px -2px #1c415e;
	box-shadow: 0px 0px 24px -2px #1c415e;
}
.btnUnstyled {
	margin: 10px 0;
	font-family: "Helvetica neue";
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 1.25rem;
	letter-spacing: 0;
	text-decoration: underline !important;
}
.btnUnstyled:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 5px 2.5px #dee;
}
p.formHeaderText {
	width: 50%
	margin: auto;
	font-size: 5rem;
	font-family: "Komoda"; Trebuchet MS;
	border-bottom: 3px solid #214663;
}
div#customSearchFooter {
	margin-top: 25px;
}






