body, section, div {
	border: 1px solid black;
	box-sizing: border-box;
	color:#214663;
}

.navLink {
	display: inline-block;
	float: right;
	width: 10%;
	height: 100%;

	font-size: 20px;
	text-align: center;

	border: 1px solid #1c415e;
}

.glyphicon, .fa {
	font-size: 30px;
}

.gStartedButton {
	margin: auto;
	-moz-box-shadow: 14px 15px 14px -7px #1c415e;
	-webkit-box-shadow: 14px 15px 14px -7px #1c415e;
	box-shadow: 14px 15px 14px -7px #1c415e;
/*	background-color:#fdfffc;*/
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:4px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#214663;
	font-family: "Komoda"; Trebuchet MS;
	font-size:50px;
	letter-spacing: 2px;
	font-weight:bold;
	padding:24px 50px;
	text-decoration:underline;
	text-shadow:0px 2px 2px #adb8b6;
}
.gStartedButton:hover {
	background-color:#fafaff;
	border-radius: 4px;
}
.gStartedButton:active {
	position:relative;
	top:1px;
}