<section id="customSearch" ng-init="movieCTRL.resetVisibility()">
	<!-- Search Bar -->
	<div class="row">
		<br>
		<form
			id="customSearch"
			class="card text-center col-md-6 col-md-offset-3" 
			ng-if="auth.user">
			<div class="card-header">
				<p 
					class="formHeaderText">
					custom search
				</p>

			</div>
			<div class="card-block">
				<div id="standardCustomSearch">
					<label for="genre">Genre:</label>
					<select id="genre">
						<option value="28">Action</option>
						<option value="12">Adventure</option>
						<option value="16">Animation</option>
						<option value="35">Comedy</option>
						<option value="80">Crime</option>
						<option value="99">Documentary</option>
						<option value="18">Drama</option>
						<option value="10751">Family</option>
						<option value="14">Fantasy</option>
						<option value="10769">Foreign</option>
						<option value="36">History</option>
						<option value="27">Horror</option>
						<option value="10402">Music</option>
						<option value="9648">Mystery</option>
						<option value="10749">Romance</option>
						<option value="878">Science Fiction</option>
						<option value="10770">TV Movie</option>
						<option value="53">Thriller</option>
						<option value="10752">War</option>
						<option value="37">Western</option>
					</select>
						<br>
							<a class= btnUnstyled ng-click="movieCTRL.showContent()"> advanced options: </a>
						<br>
				</div>
				<div id="advancedCustomSearch" ng-if="!movieCTRL.visible">
					<label for="fromYear-">From Year:</label>
					<br>
					<input
						id="fromYear-"
						class="customSearchField"
						type="string"
						placeholder="Year">
					<br>
					<label for="avgRating">avg. rating more than:</label>
					<br>
					<input
						id="avgRating"
						class="customSearchField"
						type="number maximum"
						placeholder="avg. rating">
					<br>
				</div>
			<div class="card-footer" id="customSearchFooter">
				<a
					type="search"
					href="#appStates"
					class="btn blueBtn"
					ng-click="movieCTRL.search().arrayLength()">
					Go
				</a>
			</div>
			</div>
			</p>
		</form>
	</div>
</section>