<section id="filmQuery" ng-controller="movieController as movie">
	<br>
	<p class="centered text">
		To get started, enter your favourite film.
	</p>
	<br>
	<form class="col-md-8 col-md-offset-2 form-inline" ng-if="auth.user">
		<div class="form-group">
			<label for="favouriteMovie">Favourite movie:</label>
			<input
				id="favouriteMovie"
				type="string"
				placeholder="Enter movie"
				ng-model="movie.searchTerm">
		</div>
		<button
			type="search"
			class="btn btn-default"
			ng-click="movie.search()"
			ui-sref="searchDisplay">
			Go
		</button>

		</p>
	</form>
</section>