<section id="search" ng-init="movieCTRL.resetVisibility()">
	<!-- Search Bar -->
	<div class="row">
		<br>
		<p 
			class="centeredText"
			ng-if="movieCTRL.visible">
			To get started, enter a movie name
		</p>
		<br>
		<card
			id="searchBar"
			class="col-md-6 col-md-offset-3  col-xs-8 col-xs-offset-2 text-center" 
			ng-if="auth.user">
			<div class="card-header">
				<label for="movieSearch">search for:</label>
			</div>
			<div id="card-body">
				<input
					id="movieSearch"
					type="string"
					placeholder="movie"
					ng-model="movieCTRL.searchTerm">
			</div>
			<div id="card-footer">
				<a
					type="search"
					class="btn formBtn"
					ng-click="movieCTRL.search().arrayLength()">
					Go
				</a>
			</div>
			</p>
		</card>
	</div>		
	<!-- Search Results-->
	<div class="row card-group">
		<p ng-if="!movieCTRL.visible" class="centeredText">choose from results to see similar movies</p>
		<br>
		<div 
			class="card text-center col-md-3" 
			ng-repeat="movie in movieCTRL.movieResults.results | limitTo: 15"
			ng-click="movieCTRL.getSimilar(movie)"
			ui-sref="show-similar">
			<img 
			  	class="card-img-top"
			  	ng-src="https://image.tmdb.org/t/p/w640/{{movie.poster_path}}"
			  	src="" 
			  	alt="{{movie.title}} Movie Poster">
		  	<div class="card-block">
		  		<p class="card-title">
		  			<strong> {{ movie.title.substr(0,40) }} </strong>
	  			</p>
	  			<p class="card-text">
	  				<span>{{movie.release_date.substr(0,4)}}</span>
  				</p>
	  			<p class="card-text">
		    		<strong>Avg. Rating: </strong>
		    		<span>{{movie.vote_average}}</span>
		    		<span>({{movie.vote_count}} votes)</span>
	    		</p>
		  	</div>
		</div>
	</div>
	<div id="searchAgain" ng-if="!movieCTRL.visible">
		<a href="#" class="btn blueBtn" ng-click="movieCTRL.reloadState()" > Back to Top</a>
	</div>
</section>