<section id="search" ng-controller="movieController as movie">
	<div>
		<br>
		<p class="centered text">
			To get started, enter your favourite film.
		</p>
		<br>
		<form class="col-md-8 col-md-offset-2 form-inline" ng-if="auth.user">
			<div class="form-group">
				<label for="favouriteMovie">Favourite movie:</label>
				<input
					id="favouriteMovie"
					type="string"
					placeholder="Enter movie"
					ng-model="movie.searchTerm">
			</div>
			<button
				type="search"
				class="btn btn-default"
				ng-click="movie.search()">
				Go
			</button>

			</p>
		</form>
	</div>
	<div>
		<h2> Search Results</h2>

<!-- 		<div class="card"  ng-repeat="results in movie.movieResults track by $index | limitTo: 2">
		  <img 
		  	class="card-img-top"
		  	ng-src="https://image.tmdb.org/t/p/w640/{{movie.movieResults.results[$index].poster_path}}"
		  	alt="{{movie.movieResults.results[$index].title}} Movie Poster">
		  <div class="card-block">
		    <p class="card-title"><strong>Title: </strong>{{movie.movieResults.results[$index].title}}</p>
		    <p class="card-text"><strong>Year: </strong><span>{{movie.movieResults.results[$index].release_date.substr(0,4)}}</span></p>
		    <p class="card-text">
		    	<strong>Avg. Rating: </strong>
		    	<span>{{movie.movieResults.results[$index].vote_average}}</span>
		    	<span>({{movie.movieResults.results[$index].vote_count}} votes)</span>
	    	</p>
		    <a href="#" class="btn btn-primary">choose</a>
		  </div>
		</div> -->

		<div ng-repeat="movie in movie.movieResults.results | limitTo: 15">
			<img 
			  	class="card-img-top"
			  	ng-src="https://image.tmdb.org/t/p/w640/{{movie.poster_path}}"
			  	alt="{{movie.title}} Movie Poster">
		  	<div class="card-block">
		  		<p class="card-title">
		  			<strong>Title: </strong>
		  			{{movie.title}}
	  			</p>
	  			<p class="card-text">
	  				<strong>Year: </strong><span>{{movie.release_date.substr(0,4)}}</span>
  				</p>
	  			<p class="card-text">
		    		<strong>Avg. Rating: </strong>
		    		<span>{{movie.vote_average}}</span>
		    		<span>({{movie.vote_count}} votes)</span>
	    		</p>
		  	</div>
		</div>
	</div>
</section>