<section id="showSimilar" ng-init="movieCTRL.resetVisibility()">

<!-- grey-out effect for modal -->
	<div 
		class="greyBox"
		ng-if="!movieCTRL.visible">

		<div class="modalBackgroundImage" ng-style="{'background-image': 'url(https://image.tmdb.org/t/p/w640/{{ movieCTRL.modalTarget.backdrop_path }})'}"></div>
		
	</div>

	<!-- selected movie tings -->

	<div id="selectedFavouriteMovie">
		<img class="backdropImageTop" ng-src="https://image.tmdb.org/t/p/w640/{{movieCTRL.selected.backdrop_path}}">
	</div>

	<p 
	class="centeredText"
	ng-if="movieCTRL.selected">

		similar movies to
		<strong>{{movieCTRL.selected.title}}</strong>
		
	</p>

	<!-- similar movies -->
	<div class="card-group" id="similarMovies">

  	<!-- modal -->
		<div 
			ng-if="!movieCTRL.visible"
			class="modal">

			<div class="modal-dialogue">

				<div class="modal-content">
					<!-- header - movie title -->
					<div class="modal-header">
						<button ng-click="movieCTRL.showContent()"class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							{{ movieCTRL.modalTarget.title }}
						</h4>
					</div>
					<!-- body - movie info -->
					<div class="modal-body">
						<!-- year -->
						<p>
							<strong>Year: </strong>
							{{ movieCTRL.modalTarget.release_date.substr(0,4) }}
						</p>
						<!-- overview -->
						<p>
							<strong>Overview:</strong>
							{{ movieCTRL.modalTarget.overview }}
						</p>
						<!-- rating -->
						<p>
							<strong>Rating: </strong>
							{{movieCTRL.modalTarget.vote_average}}
							({{movieCTRL.modalTarget.vote_count}} votes)
						</p>
					<!-- youtube embed -->
						<iframe src="{{ movieCTRL.trailerKey | youtubeEmbedUrl }}"></iframe>
					</div>
					<!-- footer - buttons -->
					<div class="modal-footer">
						<!-- <a class="btn blueBtn"> Add to watch list</a> -->
						<br>
						<a
							class="btn"
							data-dismiss="modal"
							ng-click="movieCTRL.showContent()">close
						</a>
					</div>
				</div>
			</div>	
		</div>
		<!-- Card -->
		<div 
			href="#"
			class="card text-center col-md-3" 
			ng-repeat="movie in movieCTRL.similarMovies.results | limitTo: 8"
			ng-click="movieCTRL.modalContent(movie)">

			<!-- movie poster -->
			<img 
		  	class="similarMoviePoster"
		  	ng-src="https://image.tmdb.org/t/p/w640/{{movie.poster_path}}"
		  	alt="{{movie.title}} movie poster">

		  <!-- movie info -->
	  	<div class="card-block">

	  		<p class="card-title">
	  			<strong> {{movie.title}} </strong>
				</p>

				<p class="card-text">
					<strong>Year: </strong><span>{{movie.release_date.substr(0,4)}}</span>
				</p>

				<p class="card-text">
	    		<strong>Avg. Rating: </strong>
	    		<span>{{movie.vote_average}}</span>
	    		<span>({{movie.vote_count}} votes)</span>
	  		</p>
	  	</div>

		</div>

	</div>
	<!-- Not satisfied with similar movies -->
	<div class="notSatisfiedRow">
		<span class="notSatisfied"> Don't see anything you like?
		</span>
		<br>
		<a
			href="#"
			class="btn btn-lg blueBtn notSatisfied"
			ui-sref="customSearch"> custom search 
		</a>
		<a
			href="#"
			ui-sref="search"
			class="btn btn-lg blueBtn notSatisfied"> search again
		</a>
	</div>
</section>