<section id="showSimilar" ng-init="showModal = false">

<div class="greyBox" ng-if="showModal"></div>

	<p>Showing similar movies to {{movieCTRL.movieResults.results.title}}
	</p>
	<div id="selectedFavouriteMovie">
		<img ng-src="https://image.tmdb.org/t/p/w640/{{movieCTRL.selected.backdrop_path}}">
	</div>
	<div>

		<button 
			ng-click="showModal = !showModal"
			class="btn btn-primary btn-sm" 
			data-target="#movieMoreInfo" 
			data-toggle="modal"> MOVIE MODAL
		</button>

		<div 
			class="modal" 
			ng-class="{ 'show-modal': showModal}" 
			id="movieMoreInfo" 
			tabindex="-1">

			<div class="modal-dialogue">
				<div class="modal-content">
					<div class="modal-header">
						<button ng-click="showModal = !showModal"class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							Movie Title
						</h4>
					</div>
					<div class="modal-body">
						<p>year</p>
						<p>description</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary"> Add to watch list</button>
						<button
							class="btn btn-primary"
							data-dismiss="modal"
							ng-click="showModal = !showModal">close
						</button>
						
					</div>
				</div>
			</div>
	</div>
	<div class="row" id="similarMovies">
		<div 
		class="card col-xs-2" 
		ng-repeat="movie in movieCTRL.similarMovies.results | limitTo: 6">
		<!-- movie poster -->
			<img 
		  	class="similarMoviePoster img"
		  	ng-src="https://image.tmdb.org/t/p/w640/{{movie.poster_path}}"
		  	alt="{{movie.title}} movie poster">
		  	<!-- movie info -->
	  	<div class="card-block">
	  		<p class="card-title">
	  			<strong>Title: </strong>
	  			{{movie.title}}
				</p>
				<p class="card-text">
					<strong>Year: </strong><span>{{movie.release_date.substr(0,4)}}</span>
				</p>
				<p class="card-text">
	    		<strong>Avg. Rating: </strong>
	    		<span>{{movie.vote_average}}</span>
	    		<span>({{movie.vote_count}} votes)</span>
	  		</p>
	  	</div>
		</div>

	</div>


</section>